# Compiled Object files
*.slo
*.lo
*.o
*.d
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*/bin/*
build-*
build/
*.user
*.user.*
*/.DS_Store
*xcuserdata*
.cproject
.project
Debug/
Release/
cpp_http/.cproject
cpp_http/.project
cpp_http/Debug/
cpp_http/Release/

